# Node (EAS will still install deps itself)
node_modules/

# Expo
.expo/
.expo-shared/

# Git
.git/

# Android junk (THIS IS THE BIG WIN)
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/

# iOS (if present)
ios/build/
ios/Pods/

# Logs
*.log

# Env
.env
.env.*

# IDE
.vscode/
.idea/

# Android Backup
android_backup_v2/

# OS
.DS_Store
